{% extends "debian-base.html" %}
{% load i18n %}

{% block title %}Debtags{% endblock %}

{% block head %}
{{block.super}}
<link rev="made" href="mailto:enrico@debian.org">
<meta name="Language" content="English">
<meta name="Author"    content="Enrico Zini, enrico@debian.org">
<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/debtags.css" />
{% endblock %}

{% block nav_searchbox %}
  <form name="begin" method="get" class="form-inline" action="{% url "editor_index" %}">
    <input type="text" name="pkg" id="pkg" class="form-control mr-2" placeholder="Package name">
    <button type="submit" class="btn btn-primary">{% trans "Tag" %}</button>
  </form>
{% endblock %}

{% block nav_user %}
<ul class="navbar-nav ml-2">
  {% if user.is_authenticated %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-user-circle"></span>
      {{user.username}}
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url "report_maint" email=user.username %}"><span class="fa fa-user"></span> {% trans "Packages" %}</a>
      <a class="dropdown-item" href="{% url "signon:login" %}"><span class="fa fa-sign-in"></span> {% trans "Logins" %}</a>
      <form class="form-inline" method="POST" action="{% url "signon:logout" %}">{% csrf_token %}
        <input type="hidden" name="next" value="{% url 'root_index' %}">
        <button class="btn btn-link dropdown-item" method="submit"><span class="fa fa-sign-out"></span> {% trans "Logout" %}</button>
      </form>
    </div>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{% url "signon:login" %}"><span class="fa fa-sign-in"></span> {% trans "Login" %}</a>
  </li>
  {% endif %}
</ul>
{% endblock %}

{% block navbar %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      About Debtags
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url "root_index" %}">Main page</a>
      <a class="dropdown-item" href="https://wiki.debian.org/Debtags">Documentation</a>
      <a class="dropdown-item" href="https://wiki.debian.org/Debtags/FAQ">FAQ</a>
      <a class="dropdown-item" href="{% url "statistics" %}">Statistics</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Contribute
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url "getting_started" %}">Getting started</a>
      {% if user.is_authenticated %}
      <a class="dropdown-item" href="{% url "report_maint" email=user.username %}">Tag your packages</a>
      {% endif %}
      <a class="dropdown-item" href="{% url "report_todo" %}">TODO list</a>
      <a class="dropdown-item" href="{% url "editor_index" %}">Tag editor</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url "report_index" %}">All reports</a>

    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Develop
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url "api_index" %}">Site API</a>
      <a class="dropdown-item" href="{% url "exports_index" %}">Export data</a>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url "search_packages" %}">Search</a>
  </li>
{% endblock %}

{% block footer %}
<div class="card-body">
<p>Copyright © 2011-2013 Enrico Zini &lt;enrico@debian.org&gt;. See <a href="{% url "root_license" %}">license terms</a>.
Source code is <a href="https://salsa.debian.org/debtags-team/debtagsd">available</a>.</p>
<p>Debtags is part of <a href="https://www.debian.org/">Debian</a>.</p>
</div>
{% endblock %}
