{% extends "debtags-base.html" %}
{% load i18n %}

{% block title %}{% trans "Debtags editor" %}{% endblock %}

{% block head %}
{{block.super}}
<script src="{{ STATIC_URL }}js/debtags.js"></script>

<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/editor.css" />
<script src="{{ STATIC_URL }}js/vocabulary.js"></script>
{% endblock %}

{% block content %}
<h1>Debtags Editor Template</h1>
{% endblock %}
